# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Tessa Thornton
  email = tessathornton@gmail.com
  editor = vim
[core]
  editor = vim
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"

# If you want to set up Kaleidoscope as the default diff tool,
# then also set the following variables:
[difftool]
	prompt = false
[diff]
  tool = Kaleidoscope

[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" \"$REMOTE\"

# If you want to set up Kaleidoscope as the default merge tool,
# then also set the following variables:
[mergetool]
	prompt = false
[merge]
	tool = Kaleidoscope
